.projects {
  padding: 5% 5%;
  background-color: var(--secondary-body);
  width: 100%;
  box-sizing: border-box;
}

.projectsTitle {
  font-size: 48px;
  color: var(--main-text);
  margin: 0;
  text-align: center;
  padding-bottom: 50px;
  text-decoration: none;
}

.projectsContainer {

  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  justify-items: center;
  gap: 30px;
}


.projects__show-all {
  color: var(--main-text);
  width: 150px;
  background-color: var(--main-body);
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: auto;
  text-decoration: none;
}

.projects__show-all:hover {
  background-color: var(--main-emphasis);
  transition: 1s ease;
}

@media screen and (max-width: 1024px) {
  .projectsContainer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}