.projectContainer {
  width: 100%;
  max-width: 400px;
  max-height: 350px;
  background-color: var(--main-gray);
  display: flex;
  flex-direction: column;
  flex-direction: column;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 5%;
  overflow: hidden;
}

.projectImg {
  width: 100%;
  min-height: 80%;
  /* height: 85%; */
  object-fit: cover;
  object-position: left;
}

.projectTitle {
  height: 30px;
  color: var(--main-white);
  font-size: 20px;
  text-align: center;
  padding: 5% 0;
  margin: 0;
}

.projectsHoverElement {
  opacity: 0;
  color: orange;
}

.projectsHoverElementActive {
  opacity: 1;
  transition: 1s ease;
}