

.footer {
  background-color: var(--main-gray);
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  box-sizing: border-box;
  flex-wrap: wrap;
  color: var(--main-white);
  font-size: 24px;
  gap: 20px;
  
}

.footerParagraph {
  margin: 0;
}
