.appHeader {
  background-color: var(--main-emphasis);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px 5%;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}
