:root {
  --main-body: #424242;
  --secondary-body: #45567d;
  --main-text: #f0f0f0;
  --secondary-text: #000;
  --main-emphasis: #be3144;
  /* --main-body: #f4f4f4; */
}

@import url(./fonts/inter/inter.css);

body {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  /* font-family: 'Arial', Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
}
