
.contacts {
  padding: 200px 100px;
  background-color: var(--main-gray);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.contactsTitle {
  color: var(--main-white);
  font-size: 50px;
  text-align: center;
  font-weight: 700;
}

.contactsSubtitle {
  color: var(--main-white);
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  font-style: italic;
}

.contactsLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 30px;
  row-gap: 30px;
}

.contactLink {
  color: var(--main-white);
  text-decoration: none;
  text-shadow: 2px 2px 1px #1f1f1f;
  font-size: 28px;
  transition: 1.5s;
}

.contactLink:hover {
  transform: translate(0, 15px);
}